{{template "base/base.html" .}}

{{define "head"}}
<style type="text/css">
	.withpadding {
		padding: 3px
	}
</style>
{{end}}

{{define "body"}}
{{end}}

{{define "left-side"}}
{{range .data}}
<div class="article-single">
	<article class="article">
	    <div class="row">
            <header class="header">
                <h3 class="title">
                    <label class="label label-primary">原</label>
                    <a href="/getone?id={{.Id}}">{{.Title}}</a>
                </h3>
            </header>
			<section class="brief">
                {{.Content |str2html}}
            </section>
            <aside class="aside clearfix">
				<span class="withpadding">{{dateformat .CreateTime "2006-01-02 15:04:05"}}</span>
                <!--<span class="date">
                       <span class="year">{{dateformat .CreateTime "2006"}}</span>/
                       <span class="month">{{dateformat .CreateTime "01"}}</span>/
                       <span class="day">{{dateformat .CreateTime "02"}}</span>
                   </span>-->
  				<a class="day"><i class="fa fa-eye"></i> {{.ViewCount}}</a>
				<a class="author">{{.Author}}</span>
 				<span class="tags">
                        {{range $i,$v:=.Tags}}
                       		<a class="tag">{{$v}}</a>
                        {{end}}
                </span>
                <a class="btn btn-primary btn-lg pull-right" href="/getone?id={{.Id}}">详情</a>
            </aside>
	    </div>
	</article>
</div>
{{end}}
{{end}}

{{define "right-side"}}
{{template "base/right.html" .}}
{{end}}