{{template "base/layout2.html" .}}

{{define "head"}}
	<title> Welcome to my blog </title>
	<style>
	.peopleCarouselImg img {
	  width: auto;
	  height: 500px;
	  max-height: 500px;
	}
	.imageShowT img {
		width: auto;
		height: 230px;
		max-height: 230px;
	}
	</style>
	
{{end}}

{{define "body"}}



<div id="app">
  ${ message }
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
	{{range $index, $elem := .rotate_blog}}
	{{if eq $index 0}}
	<div class="item peopleCarouselImg active">
	{{else}}
	<div class="item peopleCarouselImg">
	{{end}}
	  <a href={{.NewUrl}}>
	  <img src={{.img_url}} class="img-responsive center-block peopleCarouselImg">
	  </a>
	  <div class="carousel-caption">
	     {{.Title}}
	  </div>
	</div>
	{{end}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1>{{.wall_blog.Title}}</h1>
  <p>{{.wall_blog.Summary}} ...</p>
  <p><a class="btn btn-primary btn-lg" href={{.wall_blog.NewUrl}} role="button">Learn more</a></p>
</div>

<div class="row">
  {{range .window_blog}}
	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail imageShowT">
			<img src={{.img_url}} class="imageShowT">
			<div class="caption">
				<h3>{{.Title}}</h3>
				<p>{{.Summary}}</p>
				<p><a href={{.NewUrl}} class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">换一个</a></p>
			</div>
		</div>
	</div>
  {{end}}
  <!--<div class="col-sm-6 col-md-4">
    <div class="thumbnail imageShowT">
      <img src="http://article.fd.zol-img.com.cn/t_s501x2000/g1/M07/0C/0D/Cg-4jlOpQWqIWQiKAAFW5Id4I7oAAOjOwA7-HMAAVb8853.jpg" alt="..." class="imageShowT">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>啊阿斯顿发发阿萨德发的飞洒发达</p>
        <p><a href="http://img.club.pchome.net/kdsarticle/2014/03small/18/bfcbc9c9a0d3cc8b57c1523af28193cc_1000x750.jpg" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">换一个</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail imageShowT">
      <img src="http://img.club.pchome.net/kdsarticle/2014/03small/18/bfcbc9c9a0d3cc8b57c1523af28193cc_1000x750.jpg" alt="..." class="imageShowT">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>啊阿斯顿sdfasdfafa洒发达</p>
        <p><a href="http://img.club.pchome.net/kdsarticle/2014/03small/18/bfcbc9c9a0d3cc8b57c1523af28193cc_1000x750.jpg" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">换一个</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail imageShowT">
      <img src="http://img.pconline.com.cn/images/upload/upc/tx/photoblog/1206/02/c3/11848625_11848625_1338612793843.jpg" alt="..." class="imageShowT">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>啊阿斯顿发发阿萨德发的飞洒发达</p>
        <p><a href="http://img.club.pchome.net/kdsarticle/2014/03small/18/bfcbc9c9a0d3cc8b57c1523af28193cc_1000x750.jpg" class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">换一个</a></p>
      </div>
    </div>
  </div>-->
</div>
<script type="text/javascript">
new Vue({
  el: '#app',
  delimiters: ['${', '}'],
  data: {
    message: 'Hello Vue.js!'
  }
})
</script>
{{end}}

