{{template "base/layout2.html" .}}

{{define "head"}}
	<title> Welcome to my blog </title>
	<style>
	.peopleCarouselImg img {
	  width: auto;
	  height: 500px;
	  max-height: 500px;
	}
	.imageShowT img {
		width: auto;
		height: 230px;
		max-height: 230px;
	}
	</style>
	
{{end}}

{{define "body"}}



<div id="app">
  ${ message }
</div>

<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
	{{range $index, $elem := .rotate_blog}}
	{{if eq $index 0}}
	<div class="item peopleCarouselImg active">
	{{else}}
	<div class="item peopleCarouselImg">
	{{end}}
	  <a href={{.NewUrl}}>
	  <img src={{.img_url}} class="img-responsive center-block peopleCarouselImg">
	  </a>
	  <div class="carousel-caption">
	     {{.Title}}
	  </div>
	</div>
	{{end}}
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>

<div class="jumbotron">
  <h1>{{.wall_blog.Title}}</h1>
  <p>{{.wall_blog.Summary}} ...</p>
  <p><a class="btn btn-primary btn-lg" href={{.wall_blog.NewUrl}} role="button">Learn more</a></p>
</div>

<div class="row">
  {{range .window_blog}}
	<div class="col-sm-6 col-md-4">
    	<div class="thumbnail imageShowT">
			<img src={{.img_url}} class="imageShowT">
			<div class="caption">
				<h3>{{.Title}}</h3>
				<p>{{.Summary}}</p>
				<p><a href={{.NewUrl}} class="btn btn-primary" role="button">查看</a> <a href="#" class="btn btn-default" role="button">换一个</a></p>
			</div>
		</div>
	</div>
  {{end}}

</div>
<script type="text/javascript">
new Vue({
  el: '#app',
  delimiters: ['${', '}'],
  data: {
    message: 'Hello Vue.js!'
  }
})
</script>
{{end}}

