<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<!--<link rel="shortcut icon" href="/static/img/favicon.png" />-->
<meta name="author" content="fleago" />
<meta name="description" content="funfunfun" />
<meta name="keywords" content="Go, golang, beego">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!--<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"> 防止移动端缩放，更像原生应用 -->

<link href="/static/css/bootstrap.min.css" rel="stylesheet" />

<script src="/static/js/jquery-1.10.1.min.js"></script>

<link rel="stylesheet" href="http://cdn.bootcss.com/highlight.js/8.0/styles/monokai_sublime.min.css">
<script src="http://cdn.bootcss.com/highlight.js/8.0/highlight.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<link href="/static/plugin/editor.md/css/editormd.css" rel="stylesheet" />
<link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/static/uno/style.css"/>
<link rel="stylesheet" href="/static/uno/prism.css"/>
<link rel="stylesheet" href="/static/plugin/editor.md/css/editormd.preview.css"/>
<script src="https://npmcdn.com/vue/dist/vue.js"></script>
<script src="http://cdn.bootcss.com/vue/2.1.0/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue-resource/0.7.0/vue-resource.min.js"></script>

<style>
    pre[class*="language-"].line-numbers {
        padding-left: inherit;
    }
    .markdown-body pre code {
        display: block;
    }
    .editormd-preview-container, .editormd-html-preview {
        background-color: #f9f9f9;
    }
    .article header h3.title label {
        text-transform: uppercase;
        background-color: rgba(175, 178, 183, 0.7);
        border-radius: .25rem;
        transition: all 350ms;
        padding: .2rem .36rem;
        font-size: 1.55rem;
        color: #000;
        margin-left: -15px;
    }
    .article header h3.title label.label-primary,.article header h3.title label.label-info {
        background-color: rgba(0, 68, 204, .7);
        color: #f8f8f8;
    }
</style>